<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSApiKey</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>EasyTraffic uses your location to estimate speed, log stop events, and support upcoming road alerts.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs to announce through your speaker.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to make announcements.</string>
</dict>
</plist>
